.input-group,
.btn-group {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}

.input-group input {
  margin-right: 1rem;
}

.name-input {
  background-color: #fff;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
}

.color-input {
  -webkit-appearance: none;
  width: 5rem;
  height: 5rem;
  appearance: none;
  cursor: pointer;
}

.color-input:disabled {
  cursor: default;
}

.color-input::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
}

.input-group button {
  background-color: #00b518;
  color: #fff;
}

.input-group .btn:disabled {
  cursor: auto;
  color: #2d3334;
  background: #848484;
}

.input-group button:hover {
  background-color: #038915;
}

.btn-group button {
  margin-right: 1rem;
  background-color: #ffe638;
}

.btn-group button:disabled {
  background-color: #848484;
  cursor: default;
}

.btn-group button:not(:disabled):hover {
  background-color: #f5bd00;
}
